<h1>EVENT</h1>
<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>
     <% events.each do |event| %><br />
     <%= event.start_time.strftime('%H:%M') %>
     <!--スケジュールの開始時間を表示-->
     <%= link_to event.content, info_path(event) %>
    <% end %>
  <% end %>
  <!--3/26かきif分を追加し、アクセス権限追加をする-->
  <% if user_signed_in? %>
  <% if current_user == @user || current_user.admin? %>
<%= link_to 'イベント追加', new_event_path %>
<% end %>
<% end %>