<div class ="container">
    <div class = "row">
      <div class="col-12 py-4 text-center">
	    <h4>注文履歴一覧</h4><br>
	        <div class = "row" >
	            <div class = "col-12" >
                <table align = "left" class = "table table-bordered">
	    <thead>
	     <tr>
        <th>注文日</th>
        <th>送付先</th>
        <th>注文商品</th>
        <th>個数</th>
        <th>支払金額</th>
        <th>ラッピングの有無</th>
        <th>注文詳細</th>
       </tr>
      </thead>
          <tbody>
            <% @orders.reverse.each do |order| %>
            <tr>
                <td><%= l order.created_at,format: :short %></td>
                <td>
                    〒<%= order.user.zip_code %><br>
                    <%= order.user.address %><br>
                    <%= order.user.first_name %><%= order.user.last_name %><br>
                </td>
                <td>
                <!--<#% @orders. each do |order| %>-->
                    <%= order.item.name %><br>
                <!--<#% end %>-->
                </td>
                <td><%= order.quantity %>1個</td>
                <td><%= order.item.price %>円</td>
                    <% if order.wrapping %>
                    <td>有</td>
                     <% else %>
                    <td>無</td>
                     <% end %>
                <!--<td><%#= order.wrapping %></td>-->
                <td><%= link_to "表示する", order_path(order) %></td>
            </tr>
        <% end %>
          </tbody>
	</table>
	</div>
    </div>
    </div>
    </div>
</div>