  <div class = "container">
    <div class = "row my-5">
    <div class = "col-4">
      <h3>商品詳細</h3>
    </div>
  </div>
  <div class = "row justify-content-center">
    <%= render "public/genres/sidebar", genres: @genres %>
    <div class = "col-4 my-3">
      <%= image_tag @item.get_item_image("350x350") %>
    </div>
    <div class = "col-4">
      <div class = "card my-3">
        <div class = "card-header">
          <h3><%= @item.name %></h3>
        </div>
        <div class = "card-body my-3">
          <h5 class = "card-title">
            <%= @item.introduction %>
          </h5>
          <div class = "card-price my-3">
            ¥<%= @item.with_tax_price %><small>(税込価格)</small>
          </div>
          <% if customer_signed_in? %>
            <%= form_with model:@cart_item, local:true do |f| %>
              <%= f.select :quantity, [["1", 1],["2", 2],["3", 3],["4", 4],["5", 5],["6", 6],["7", 7],["8", 8],["9", 9],["10", 10]] %>
              <%= f.hidden_field :item_id, value: params[:id] %>
              <%= f.submit "カートに入れる", class: 'btn btn-success' %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

    <div class = "row">
        <strong><h5>注文情報入力</h5></strong><br>
    </div>
        <!--bootstrapの指定再調整-->
        <!--下記ハリボテならば?どうする-->
    <div class = "row" >
      <div class = "col-xs-6">
              <strong><h5>支払い方法</h5></strong>
            <%= form_with model: @order, url: confirm_path, method: :post, local:true do |f| %>
              <%= f.radio_button :payment, "credit_card", checked: true %>
              <%= f.label :payment, "クレジットカード" %>
              <%= f.radio_button :payment, "transfer" %>
              <%= f.label :payment, "銀行振込" %>
               <strong><h5>お届け先</h5></strong>
              <div class="form-group">
              <%= f.radio_button :address_number, 0, checked: true %>
              <%= f.label :address_number_0, "ご自身の住所" %>
              <%= current_customer.address %><br>
              <%= f.radio_button :address_number, 1 %>
              <%= f.label :address_number_1, "登録済住所から選択" %>
              <%= f.select :shipping_id, options_from_collection_for_select(current_customer.shippings, :id, :full_address) %><br>
              <%#= f.select :shipping_id, options_from_collection_for_select(Shipping.all, :id, :shipping_display) %>
              <%= f.radio_button :address_number, 2 %>
              <%= f.label :address_number_2, "新しいお届け先" %><br>
              <%= f.label :zip_code, "郵便番号(ハイフンなし)"%>
              <%= f.text_field :zip_code %><br>
              <%= f.label :address, "住所" %>
              <%= f.text_field :address, :size=> "40" %><br>
              <%= f.label :name, "宛名" %>
              <%= f.text_field :name %><br>
              <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
          　　<%#= f.submit "確認画面へ進む", confirm_path, class: "btn btn-primary" %>
        <% end %>
        </diV>
        </div>
      </div>
  </div>
