  <div class = "container">
    <div class = "row">
        <strong><h5>注文情報入力</h5></strong><br>
    </div>
    <div class = "row" >
      <div class = "col-xs-6">
              <strong><h5>支払い方法</h5></strong>
            <%= form_with model: @order, url: confirm_path, method: :post, local:true do |f| %>
              <%= f.radio_button :payment, "credit_card", checked: true %>
              <%= f.label :payment, "クレジットカード" %>
              <%= f.radio_button :payment, "transfer" %>
              <%= f.label :payment, "銀行振込" %>
               <strong><h5>お届け先</h5></strong>
              <div class="form-group">
              <%= f.radio_button :address_number, 0, checked: true %>
              <%= f.label :address_number_0, "ご自身の住所" %>
              <%= current_user.address %><br>
              <%= f.radio_button :address_number, 1 %>
              <%#= f.label :address_number_1, "登録済住所から選択" %>
              <%#= f.select :shipping_id, options_from_collection_for_select(current_customer.shippings, :id, :full_address) %>
              <%#= f.select :shipping_id, options_from_collection_for_select(Shipping.all, :id, :shipping_display) %>
              <%= f.radio_button :address_number, 2 %>
              <%= f.label :address_number_2, "新しいお届け先" %><br>
              <%= f.label :zip_code, "郵便番号(ハイフンなし)"%>
              <%= f.text_field :zip_code %><br>
              <%= f.label :address, "住所" %>
              <%= f.text_field :address, :size=> "40" %><br>
              <%= f.label :name, "宛名" %>
              <%= f.text_field :name %><br>
              <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
          　　<%#= f.submit "確認画面へ進む", confirm_path, class: "btn btn-primary" %>
        <% end %>
        </diV>
        </div>
      </div>
  </div>
